.maincontentimage {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border-radius: 130px;
}

#header {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border-radius: 130px;
}
.text {
     text-align: center;
 }

 #astroheaderimage {
     max-width: 100%;
     height: auto;
 }
